Django~=2.1.0
Flask-PyMongo
pymongo==2.8.1
django-mssql
django-pyodbc-azure
django-oauth-toolkit
social-auth-core
social-auth-app-django
flask-sentinel
Flask-SQLAlchemy
Flask-MongoAlchemy
flask-mongoengine
meta